*{
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin-top: 15vh;
    bottom: 0;
}
a{
    color: black;
}
#wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header{
    background-color: white;
    top:0;
    height: 15vh;
    width: 100%;
    -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.85);
    box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.85);
    position: fixed;
}
header img{
    height: 100%;
}
header a{
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    flex-basis: row;
    align-content: center;
    justify-content: left;
}
#subheader{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 5vh;
    width: 100%;
}
div{
    padding-top: 2%;
    padding-bottom: 5%;
}
p{
    text-align: center;
    padding-top: 5%;
}
section{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
section div{
    width: 400px;
    flex-grow: 0;

}

section div a {
     
}
section div a img{
    width:90%;
    height: 300px;
    margin-left: 5%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
section div img{
    width:90%;
    height: 300px;
    margin-left: 5%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
h1{
    
    font-size: 1.5em; 
    padding-top: 5vh;
}

footer{
    margin-top:5%;
    text-align: center;

}
.info{
    padding: 0;
    margin: 0;
}
.info div{
    padding-top: 3%;
    padding-bottom: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h2{
    font-size: 2em;
    text-align: left;
    padding: 0;
    padding-top: 2%;
    padding-left: 4.5%;
    margin: 0;
    top: 0;
    bottom: 0;
}
.info p{
    top:0;
    bottom:0;
    text-align: left;
    padding: 0;
    padding-left: 4.5%;
    margin: 0;
    font-size: 1.2em;
}
.info img{
    height:400px;
}

#image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.info #image p{
    padding-bottom: 3%;
}
#link{
    color: cadetblue;
}

